# Дашборд для анализа взаимодействия пользователей с Яндекс.Дзен

В тетради хранится код для подготовительного этапа создания дашборда: выгрузка данных из БД, проверка на корректность полученных данных, сохранение в файл для дальнейшей работы в Tableau.

## Загрузка библиотек

In [1]:
import pandas as pd

# для подключения к базе
from sqlalchemy import create_engine

## Подключение к БД и выгрузка данных

In [2]:
# задаём параметры подключения к БД
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных
# формируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])
# подключаемся к БД
engine = create_engine(connection_string)

In [3]:
# формируем sql-запрос
query = ''' SELECT * 
            FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine, index_col='record_id')

## Изучение общей информации

In [4]:
def info(data):
    data.info()
    print("Количество дубликатов: {}".format(data.duplicated().sum()))
    return data.head(10)

In [5]:
info(dash_visits)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30745 entries, 1040597 to 1071341
Data columns (total 5 columns):
item_topic      30745 non-null object
source_topic    30745 non-null object
age_segment     30745 non-null object
dt              30745 non-null datetime64[ns]
visits          30745 non-null int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.4+ MB
Количество дубликатов: 0

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27
1040602       Деньги         Авто       18-25 2019-09-24 18:57:00      22
1040603       Деньги         Авто       18-25 2019-09-24 18:58:00      24
1040604       Деньги         Авто       18-25 2019-09-24 18:59:00      20
1040605       Деньги         Авто       18-25 2019-09-24 19:00:00       5
1040606       Деньги         Авто       26-30 2019-09-24 18:29:00       1

In [6]:
print('Данные за период с {} по {}'.format(dash_visits['dt'].min(), dash_visits['dt'].max()))

Данные за период с 2019-09-24 18:28:00 по 2019-09-24 19:00:00

**Таблица `dash_visits`**:
* `item_topic` — тема карточки;
* `source_topic` — тема источника;
* `age_segment` — возрастная категория пользователей;
* `dt` — дата и время взаимодействия;
* `visits` — количество взаимодействий пользователей с карточкой.

## Сохранение файла с данными

In [7]:
dash_visits.to_csv('dash_visits.csv')

<a href="https://public.tableau.com/views/Book1_16263628326690/Dashboard?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link">Ссылка на дашборд</a>

<a href="https://drive.google.com/file/d/1sdu1H57cawzt5SXXcjUpiWiKDdwIZ9a7/view?usp=sharing">Ссылка на презентацию</a>